<div class='container'>
  <div class="row my-1">
    <div class="col-12">
      <div class=" dropdown">
        <button class="border-dark text-left form-control btn btn-light btn-sm dropdown-toggle" type="button"
          id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          類別
        </button>
        <div class="w-100 dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/">全部</a>
          <a class="dropdown-item" href="/sort/家居物業">家居物業</a>
          <a class="dropdown-item" href="/sort/交通出行">交通出行</a>
          <a class="dropdown-item" href="/sort/休閒娛樂">休閒娛樂</a>
          <a class="dropdown-item" href="/sort/餐飲食品">餐飲食品</a>
          <a class="dropdown-item" href="/sort/其他">其他</a>
        </div>
      </div>
    </div>
  </div>

  <div class="row my-1">



  </div>
  <div class="col-auto mx-auto">
    <a class='btn btn-warning mx-auto border-dark text-white px-4 font-weight-bold' href="/records/new">新增支出</a>
  </div>
  <ul class="list-group">
    {{#each records }}
    <li class="list-group-item">
      <div class="row">
        <div class="col-2 pr-0 bg-light">
          <h3 class='mt-1 fas {{this.image}} text-info'></h3>
        </div>
        <div class="col-5 pl-0 bg-light">
          <div class="row">
            <div class="col-12">
              <div class="font-weight-bold">{{this.name}}</div>
            </div>
            <div class="col-12">
              {{this.date}}
            </div>
          </div>
        </div>
        <div class="col-2 bg-light  d-flex align-items-center">
          {{this.amount}}
        </div>
        <div class="col-3 d-flex align-items-center">
          <a class="btn btn-sm btn-outline-success" href="/records/{{this._id}}/edit">修改</a>
          <a class="btn btn-sm btn-outline-danger" href="/records/{{this._id}}/delete">刪除</a>
        </div>
      </div>
    </li>
    {{/each}}
  </ul>
  <div>
    <div class="col-6">
      <div class="d-flex justify-content-between">
        <div>
          <h3>總金額：</h3>
        </div>
        <div class="total-amount flex-grow-1 text-center text-danger">
          <h3>{{totalAmount}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>